:root {
  --highlight-color: hotpink;
  --border-color: rgba(255, 255, 255, 0.3);
}
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: #888888;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: calc(18px + ((100vw - 600px) / 250));
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  font-weight: 400;
  line-height: 1.563;
  text-decoration-skip-ink: "auto";
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;

  caret-color: #272727;
}

main,
.fullbleed {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
}
main > * {
  padding: 2rem;
}
main > *,
.fullbleed > * {
  grid-column: 2/3;
}

.fullbleed {
  grid-column: 1/-1;
}

main > section:nth-child(odd) {
  background: #457fca;
  background: -webkit-linear-gradient(to left, #5691c8, #457fca);
  background: linear-gradient(to left, #5691c8, #457fca);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(0, 0, 0, 0.3);
}
main > section:nth-child(odd) * {
  color: #efe5e5;
}
main > section:nth-child(odd) h1,
main > section:nth-child(odd) h2,
main > section:nth-child(odd) h3,
main > section:nth-child(odd) h4,
main > section:nth-child(odd) h5,
main > section:nth-child(odd) h6 {
  color: white;
}

/*ICONS*/
.icon svg {
  display: block;
  max-width: 100%;
  height: auto;
  transform: translateX(30px);
}
.icon svg.BookIcon path,
.icon svg.WorkIcon path {
  fill: white;
  stroke: white;
}

/*MentionIcon*/
.ani {
  animation: 1s pop;
}
@keyframes pop {
  0% {
    opacity: 1;
    transform: translate(-50px, 50px);
  }
  100% {
    opacity: 0;
    transform: translate(100px, -100px);
  }
}
